$accentColor = red
$textColor = #fff
$borderColor = #1e1e1e
$codeBgColor = #2e2e2e

html, body , .navbar, .sidebar {
  background-color: #1e1e1e;
}
.theme-container .navbar,
.theme-container .sidebar {
  background-color: #2e2e2e;
}

.theme-container .search-box input,
.theme-container .search-box .suggestion a {
  color: #1e1e1e;
}

.theme-container .content code {
  background-color: #2e2e2e;
}
